spring:
  application:
    name: userservice

  datasource:
    url: jdbc:postgresql://host.docker.internal:5432/userservice_db
    username: postgres
    password: abcd1234
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    validate-on-migrate: true

server:
  port: 8081

user:
  service:
    internalToken: ${INTERNAL_SERVICE_TOKEN:change-me-in-production}

verification:
  code:
    expiry:
      minutes: 2
    max:
      retries: 3

password:
  reset:
    token:
      expiry:
        minutes: 30

management:
  endpoints:
    web:
      exposure:
        include: health,info
